*{
font-family: 'Roboto Mono', monospace;
margin:0;
}
h1,h2,h3,h4,h5,h6{
	font-family:'Cousine', monospace;
	margin:0;
}
.hide{display:none;}
body{font:100%/1.5;}

@-moz-viewport{width:device-width;}

ul{padding:0;}
#bg-video{
	position:fixed;
	right: 0;
	bottom:0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

a{
	font-family:'Share Tech Mono', monospace;
	text-decoration:none;
	color:black;
}

a:hover{
text-decoration:underline;
color:#b724b0;
}

li{
	list-style:none;
	padding:none;
}
.block{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh; 
}

.child-block{
	text-align:center;
	background-color:#423b3f;
	color:#87785e;
	/*height:17em;*/
	width:22em;
	max-width:500px;
	padding:1em 1.5em;
}

.name-block{
	margin-top: 1.5em;
	padding-top: 1em;
}


.nav-block{
	padding-bottom: 1em;
/*	display: none; */
}


/********************/
/* Blog & Blog-roll */
/********************/

.blog{
	background-color:#423b3f;
	color:#877961;
}

.middle{
	margin: 0 auto;
	max-width:45em;
}

nav ul li{
	display:inline-block;
	margin: 0 .25em
}

nav ul{
	margin:0;
}

.article-title, .article-date{
	color:#4c4540;
	background-color:#845270;
	padding-left:0.5em
}

.article-title{padding-top: 0.25em;}
.article-date{padding-bottom:0.25em;}
.article-text{padding:0 .5em}
.header-class{
	margin: 3em 0 2em 0;
	text-align:center;
	width:100%;
}

.blog-links ul li a, .read-more{color: #1d6d44}


/****Media Queries****/
@media only screen and (max-width:320px){
	.index{
		font-size:12px;
	}
	.middle{width:100vw;}	
	
}
@media only screen and (max-width:720px){
	.index{
		background:url('../video/ink.jpg');
	}
	.middle{
		width:100vw;
		margin:0 2em;
	}
	#bg-video{
		display:none;
	}
	a{
		font-size:1.4em;
		margin:0.75em 0;
	}

	.article-title, .article-date{
		padding-left:1em;
		padding-right: 1em;
	}

	.article-title{font-size:1.1em;}
	.article-date{font-size:.9em;}

}

